<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/head">
<head>
<meta charset="UTF-8" />
<title>AeroTickets</title>
<link rel="stylesheet" href="../static/libs/css/bootstrap.min.css"
	th:href="@{/libs/css/bootstrap.min.css}" />
<script src="/libs/js/jquery.min.js"></script>
<script src="/libs/js/bootstrap.min.js"></script>
</head>
<body>
	<!-- Menu -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" th:href="@{/}">AeroTickets</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" th:href="@{/voos}">Voos</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/reservas}">Reservas</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/passageiros}">Passageiros</a></li>
			</ul>
		</div>
	</nav>

	<div class="container">
			<h1 class="jumbotron">Voos Disponíveis</h1>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>TICKET</th>
						<th>ORIGEM</th>
						<th>DESTINO</th>
						<th>DATA</th>
						<th>HORARIO</th>
						<th>PREÇO</th>
						</tr>
				</thead>

				<tr th:each="voo : ${voos}">
					<td>VOFD-0<span th:text="${voo.id}"></span></td>
					<td><span th:text="${voo.origem}"></span></td>
					<td><span th:text="${voo.destino}"></span></td>
					<td><span th:text="${voo.datavoo}"></span></td>
					<td><span th:text="${voo.horario}"></span></td>
					<td><span th:text="${voo.preco}"></span></td>
					
					<td><a class="btn btn-info" th:href="@{/cadastro/} + ${voo.id}">Reservar</a></td>
				</tr>
			</table>
		</div>
</body>
</html>